.parent {
    display: grid;
    grid-template: auto 1fr auto / auto 1fr auto;
}

app-page-header {
    grid-column: 1/4;
}

app-sidebar {
    grid-column: 1/2;
}

app-comp-container {
    grid-column: 2/4;
    grid-row: 2/4;
}

