<div class="comp-container">
    <h1>components</h1>
    <app-comp-card name="Component 1" maker="Dirk de Groot" image="chip"></app-comp-card>
    <app-comp-card name="Component 2" maker="Jeffrey van Es" image="cubes"></app-comp-card>
    <app-comp-card name="Component 3" maker="Jeffrey van Es" image="cubes"></app-comp-card>
    <app-comp-card name="Component 4" maker="Dirk de Groot" image="chip"></app-comp-card>
    <app-comp-card name="Component 5" maker="Henk Groeneboom" image="tower"></app-comp-card>
    <app-comp-card name="Component 6" maker="Jeffrey van Es" image="chip"></app-comp-card>
    <app-comp-card name="Component 7" maker="Dirk de Groot" image="tower"></app-comp-card>
    <app-comp-card name="Component 8" maker="Dirk de Groot" image="cubes"></app-comp-card>
    <app-comp-card name="Component 9" maker="Henk Groeneboom" image="chip"></app-comp-card>
    <app-comp-card name="Component 10" maker="Jeffrey van Es" image="chip"></app-comp-card>
    <app-comp-card name="Component 11" maker="Jeffrey van Es" image="tower"></app-comp-card>
    <app-comp-card name="Component 12" maker="Jeffrey van Es" image="chip"></app-comp-card>
</div>

